/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  body {
      font-size: 10px;
      font-family: serif;
      letter-spacing: .1em;
      word-spacing: .1em;
  }

  section p:nth-of-type(2n+1){
      text-indent: 20px;
  }

  h1, h2, header {
      font-family: sans-serif;
  }

  h1 {
      text-align: center;
      letter-spacing: .2em;
  }

  a {
      color: #a66;
  }

  a:hover, a:visited, a:focus{
      color: rgb(92, 63, 63);
  }
   a:hover, a:focus {
       text-decoration: none;
   }

   a:focus {
       outline: none;
   }

   body {
       line-height: 1.5em;
   }

   section p a {
       background: url(./external-link-52.png) right;
       background-size: 1em 1em;
       background-repeat: no-repeat;
       padding-right: 1.2em;
   }

   nav {
       margin: 0;
   }

   nav li {
        list-style-type: none;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
   }

   nav a {
       display: block;
        width: 180px;
        height: 50px;
        border: #a66 solid 2px;
       background-color: white;
       font-family: "Consolas";
       color: #a66;
       font-size: 2em;
       line-height: 2.2em;
       text-decoration: none;
       font-weight: bold;
   }

   nav a:hover {
       background: #a66;
       color: white;
   }
