body {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted purple;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

a:link, a:visited {
    color: #fb6542;
}

a:hover {
    color: green;
    text-decoration: none;
    font-family: "Consolas";
}

ul {
    background-color: #eeeeee;
    border: purple solid 5px;
}