* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  /* Your CSS below here */

  article {
      background: url(./top-image.png) top;
      background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(0,0,0,.2)),
                  url(./top-image.png) top, 
                  url(./bottom-image.png) bottom;
      background-color: white;
      background-repeat: no-repeat;
      border: solid purple 1mm;
  }

  h1 {
      background: url(./logo.png) center no-repeat;
      box-shadow: 1px 1px 5px 2px black;
      border-radius: 50%;
  }